@font-face {
	font-family:'Muller';
	src: url('MullerRegular.eot');
	src: local('Muller Regular'), local('MullerRegular'),
    url('fonts/MullerRegular.woff2') format('woff2'),
		url('fonts/MullerRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Muller';
	src: url('MullerMedium.eot');
	src: local('Muller Medium'), local('MullerMedium'),
    url('fonts/MullerMedium.woff2') format('woff2'),
		url('fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
	font-family:'Muller';
	src: url('MullerBold.eot');
	src: local('Muller Bold'), local('MullerBold'),
    url('fonts/MullerBold.woff2') format('woff2'),
		url('fonts/MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

img{
  max-width: 100%;
}

body{
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  background: #E5E5E5;
}


/*  Glob  */
.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset{
  padding: 0;
  border: none;
  cursor: pointer;
}

.flex{
  display: flex;
}

.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title{
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-offset{
  margin-bottom: 70px;
}

a{
  text-decoration: none;
}


/*  header  */
.header{
 margin-top: 30px;
}

.header-top{
  align-items: center;
  margin-bottom: 30px;
}

.header-logo{
  margin-right: 40px;
}

.header-ls{
  margin-left: auto;
}

.header-menu{
  padding: 27px 45px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
}

.header-list-item:not(:last-child){
  margin-right: 45px;
}

.flex-pos{
  margin-left: auto;
}

.header-number{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.header-ls{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  background-image: url(/img/Header-1.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 21px 12px;
  padding-left: 25px;
}

.header-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.header-btn-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  padding: 13px 20px;
}


/*  specs  */
.specs-left{
  flex-direction: column;
  display: inline-block;
}

.specs-image1{
  width: 573px;
  height: 258px;
  background: transparent url("/img/specs-1.jpg") no-repeat center center / cover;
  padding: 40px 45px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.specs-image2{
  width: 573px;
  height: 258px;
  background: transparent url("/img/specs-2.jpg") no-repeat center center / cover;
  padding: 40px 45px;
}

.specs-flex{
  flex-direction: column;
}

.title-specs-item{
  margin: 0;
  margin-bottom: 15px;
}

.specs-image3{
  width: 573px;
  height: 540px;
  background: transparent url("/img/specs-3.jpg") no-repeat center center / cover;
  padding-top: 212px;
  padding-left: 45px;
  padding-bottom: 40px;
}


/*  us  */
.us-descr{
  margin: 0;
  max-width: 888px;
}

/*  services  */
.services-list{
  flex-wrap: wrap;
}

.services-items{
  width: 573px;
  min-height: 330px;
  margin-bottom: 24px;
  flex-direction: column;
  outline: 1px solid coral;
}

.services-items:not(:nth-child(2n)){
  margin-right: 24px;
}

.services-item-img1{
  width: 573px;
  height: 165px;
  background: transparent url("/img/services-1.jpg") no-repeat center center / cover;
}

.services-item-img2{
  width: 573px;
  height: 165px;
  background: transparent url("/img/services-2.jpg") no-repeat center center / cover;
}

.services-item-img3{
  width: 573px;
  height: 165px;
  background: transparent url("/img/services-3.jpg") no-repeat center center / cover;
}

.services-item-img4{
  width: 573px;
  height: 165px;
  background: transparent url("/img/services-4.jpg") no-repeat center center / cover;
}

.services-descr{
  padding-top: 26px;
  padding-left: 45px;
  padding-bottom: 35px;
}

.services-titles-item{
  margin: 0;
}


/*  Advantages  */
.adv-item{
  flex-wrap: wrap;
}
.adv-items{
  width: 276px;
  min-height: 276px;
  padding: 40px 42px 32px 45px;
  margin-bottom: 22px;
  flex-direction: column;
  outline: 1px solid coral;
}

.adv-items:not(:nth-child(4n))
{
  margin-right: 22px;
}

.adv-image{
  width: 64px;
  height: 66px;
  margin-bottom: 10px;
}

.avd-img-1{
  background: transparent url("/img/adv-1.svg") no-repeat center center / cover;
}

.avd-img-2{
  background: transparent url("/img/adv-2.svg") no-repeat center center / cover;
}

.avd-img-3{
  background: transparent url("/img/adv-3.svg") no-repeat center center / cover;
}

.avd-img-4{
  background: transparent url("/img/adv-4.svg") no-repeat center center / cover;
}

.avd-img-5{
  background: transparent url("/img/adv-5.svg") no-repeat center center / cover;
}

.avd-img-6{
  background: transparent url("/img/adv-6.svg") no-repeat center center / cover;
}

.avd-img-7{
  background: transparent url("/img/adv-7.svg") no-repeat center center / cover;
}

.avd-img-8{
  background: transparent url("/img/adv-8.svg") no-repeat center center / cover;
}

.adv-descr{
  margin: 0;
}


/*  Placement  */
.plac-item{
  flex-wrap: wrap;
}

.plac-items{
  width: 374px;
  min-height: 440px;
  margin-bottom: 24px;
  outline: 1px solid coral;
}

.plac-items:not(:nth-child(3n)){
  margin-right: 24px;
}

.plac-items-decsr{
  padding: 32px 45px 45px 45px;
  flex-direction: column;
}

.plac-top{
  margin-right: auto;
  margin-bottom: 16px;
}

.plac-descr-top{
  margin-right: 4px;
}

.plac-descr-top-sum{
  margin-right: 4px;
}

.plac-name{
  margin: 0;
  margin-bottom: 16px;
}

.plac-location{
  margin-bottom: 20px;
}

.plac-image{
  width: 374px;
  min-height: 440px;
  background: transparent url("/img/plac-9.jpg") no-repeat center center / cover;
}

.plac-item-end{
  padding-left: 54px;
  padding-bottom: 27px;
  align-items: flex-end;
}

.plac-all{
  color: #fff;
}
