html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

img{
  max-width: 100%;
}

body{
  min-width: 1200px;
}

/*  Glob  */
.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset{
  padding: 0;
  border: none;
  cursor: pointer;
}

.flex{
  display: flex;
}

.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title{
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
}

.section-offset{
  margin-bottom: 70px;
}


/*  header  */
.header{
 margin-top: 30px;
}

.header-top{
  align-items: center;
  margin-bottom: 30px;
}

.header-logo{
  margin-right: 40px;
}

.header-ls{
  margin-left: auto;
}

.header-menu{
  outline: 1px solid coral;
  padding: 27px 45px;
}

.header-list-item:not(:last-child){
  margin-right: 45px;
}

.flex-pos{
  margin-left: auto;
}


/*  specs  */
.specs-left{
  flex-direction: column;
  display: inline-block;
}

.specs-image1{
  width: 573px;
  height: 258px;
  background: transparent url("/img/specs-1.jpg") no-repeat center center / cover;
  padding: 40px 45px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.specs-image2{
  width: 573px;
  height: 258px;
  background: transparent url("/img/specs-2.jpg") no-repeat center center / cover;
  padding: 40px 45px;
}

.specs-flex{
  flex-direction: column;
}

.title-specs-item{
  margin: 0;
  margin-bottom: 15px;
}

.specs-image3{
  width: 573px;
  height: 540px;
  background: transparent url("/img/specs-3.jpg") no-repeat center center / cover;
  padding-top: 212px;
  padding-left: 45px;
  padding-bottom: 40px;
}


/*  us  */
.us-descr{
  margin: 0;
  max-width: 888px;
}

/*  services  */
.services-list{
  flex-wrap: wrap;
}

.services-items{
  width: 573px;
  min-height: 330px;
  margin-bottom: 24px;
  flex-direction: column;
  outline: 1px solid coral;
}

.services-items:not(:nth-child(2n)){
  margin-right: 24px;
}

.services-item-img1{
  width: 573px;
  height: 165px;
  background: transparent url("/img/services-1.jpg") no-repeat center center / cover;
}

.services-item-img2{
  width: 573px;
  height: 165px;
  background: transparent url("/img/services-2.jpg") no-repeat center center / cover;
}

.services-item-img3{
  width: 573px;
  height: 165px;
  background: transparent url("/img/services-3.jpg") no-repeat center center / cover;
}

.services-item-img4{
  width: 573px;
  height: 165px;
  background: transparent url("/img/services-4.jpg") no-repeat center center / cover;
}

.services-descr{
  padding-top: 26px;
  padding-left: 45px;
  padding-bottom: 35px;
}

.services-titles-item{
  margin: 0;
}


/*  Advantages  */
.adv-item{
  flex-wrap: wrap;
}
.adv-items{
  width: 276px;
  min-height: 276px;
  padding: 40px 42px 32px 45px;
  margin-bottom: 22px;
  flex-direction: column;
  outline: 1px solid coral;
}

.adv-items:not(:nth-child(4n))
{
  margin-right: 22px;
}


.adv-image{
  width: 64px;
  height: 66px;
  margin-bottom: 10px;
}

.avd-img-1{
  background: transparent url("/img/adv-1.svg") no-repeat center center / cover;
}

.avd-img-2{
  background: transparent url("/img/adv-2.svg") no-repeat center center / cover;
}

.avd-img-3{
  background: transparent url("/img/adv-3.svg") no-repeat center center / cover;
}

.avd-img-4{
  background: transparent url("/img/adv-4.svg") no-repeat center center / cover;
}

.avd-img-5{
  background: transparent url("/img/adv-5.svg") no-repeat center center / cover;
}

.avd-img-6{
  background: transparent url("/img/adv-6.svg") no-repeat center center / cover;
}

.avd-img-7{
  background: transparent url("/img/adv-7.svg") no-repeat center center / cover;
}

.avd-img-8{
  background: transparent url("/img/adv-8.svg") no-repeat center center / cover;
}

.adv-descr{
  margin: 0;
}
