html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

img{
  max-width: 100%;
}

body{
  min-width: 1200px;
}

/*  Glob  */
.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset{
  padding: 0;
  border: none;
  cursor: pointer;
}

.flex{
  display: flex;
}

.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title{
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
}

.section-offset{
  margin-bottom: 70px;
}

/*  header  */
.header{
 margin-top: 30px;
}

.header-top{
  align-items: center;
  margin-bottom: 30px;
}

.header-logo{
  margin-right: 40px;
}

.header-ls{
  margin-left: auto;
}

.header-menu{
  outline: 1px solid coral;
  padding: 27px 45px;
}

.header-list-item:not(:last-child){
  margin-right: 45px;
}

.flex-pos{
  margin-left: auto;
}


